body {
  size: 500px;
  height: 500px;
  width: 500px;
  padding: 10px;
  border: 2px dashed rgb(22, 121, 160);
  background-color: rgb(202, 219, 123);
  /* align-items: center; */
  margin: auto;
}
.container {
  size: 500px;
  /* align-content: center; */
  border: 2px solid grey;
  height: 200px;
  width: 400px;
  text-align: center;
  margin: auto;
  border-radius: 1rem;
  background-color: bisque;
}
#result {
  size: 200px;
  padding-top: 50px;
}
#weight-guide {
  padding-top: 80px;
  size: 500px;
}
